<section class="skillprogress">
   
    <div class="section__content">            

            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title" style="background: #8AD0BD;"><span>MANUAL TESTING</span></div>
                <div class="skillbar-bar" style="background: #B4D9CF;"></div>
                <div class="skill-bar-percent">100%</div>
            </div> <!-- End Skill Bar -->
            
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title" style="background: #2980b9;"><span>AUTOMATION & DESIGN</span></div>
                <div class="skillbar-bar" style="background: #3498db;"></div>
                <div class="skill-bar-percent">900%</div>
            </div> <!-- End Skill Bar -->
            
            <div class="skillbar clearfix " data-percent="50%">
                <div class="skillbar-title" style="background: #8AD0BD;"><span>CYBER SECURITY TESTING</span></div>
                <div class="skillbar-bar" style="background: #B4D9CF;"></div>
                <div class="skill-bar-percent">50%</div>
            </div> <!-- End Skill Bar -->
            
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title" style="background: #2980b9;"><span>WEBSERVICES TESTING</span></div>
                <div class="skillbar-bar" style="background: #3498db;"></div>
                <div class="skill-bar-percent">80%</div>
            </div> <!-- End Skill Bar -->
            
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title" style="background: #8AD0BD;"><span>MOBILE APPs TESTING</span></div>
                <div class="skillbar-bar" style="background: #B4D9CF;"></div>
                <div class="skill-bar-percent">90%</div>
            </div> <!-- End Skill Bar -->
            
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title" style="background: #2980b9;"><span>SEO & MARKETING</span></div>
                <div class="skillbar-bar" style="background: #3498db;"></div>
                <div class="skill-bar-percent">75%</div>
            </div> <!-- End Skill Bar -->
            
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title" style="background: #8AD0BD;"><span>TEAM MANAGEMENT</span></div>
                <div class="skillbar-bar" style="background: #B4D9CF;"></div>
                <div class="skill-bar-percent">60%</div>
            </div> <!-- End Skill Bar -->
     
      </div>
  
     
   
  </section>