<<<<<<< HEAD
=======
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,600,700,700i,800&display=swap');

>>>>>>> 98496893b69b439b606ffce84a0406ebbf231a75
.gif_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center; 
    
    h2{
        font-family: 'Nunito Sans', sans-serif;
<<<<<<< HEAD
		color: $dark-grey;
    } 
=======
		color: $text;
    }
    

>>>>>>> 98496893b69b439b606ffce84a0406ebbf231a75
}
  
